<!DOCTYPE html>
<html>
    <head>
        <title>Thank You</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='marks.css')}}">
    </head>
    <body>
        <main>
            <div class="boxcenter">
                <div class="result">
                    <h2>Thanks {{name}} for using our platform</h2>
                    <h3>You have scored {{marks}} out of 10</h3>
                </div>
            </div>
        </main>
    </body>
</html>